# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
dist
.turbo
coverage
out

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel

# Testing
playwright-report
test-results

# Sentry
.sentryclirc
